* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}

body {
    background-color: #36302f;
}

.image-container {
    position: relative;
    text-align: right;
    height: 100%;
    
}

.overlay-text {
    position: absolute;
    top: 35%;
    right: 26.54%;
    font-size: 60px;
    color: #fff;
}

.image-container2 {
    position: relative;
    text-align: left;

}

.overlay-text2 {
    position: absolute;
    top: 50%;
    right: 33%;
    font-size: 60px;
    color: #fff;
}

h1 {

    text-align: center;
    padding: 4rem;
    /* position: relative;
    left: 50%; */
    background-color: #b5bbc4;
    background-image: url(https://img.freepik.com/free-vector/abstract-geometric-arrow-pattern-background_1035-13697.jpg?w=900&t=st=1716770133~exp=1716770733~hmac=7ce40a828904ba15218f6120b8d76876b7bf59bc0e0bab735e140e00fb2ac7fa)
}

.socialmedia {
    position: absolute;
    top: 120px;

}

nav li {
    display: inline;
    padding: 5px;
}

footer {
    padding: 60px;
    background-color: #f5dcb0;
    position: relative;
}
/* Checar esta parte para que quede al fondo del footer */
#mail {
    display: inline;
    position: absolute;
    bottom: 0px;
}